@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --global-font: 'system-ui';
    // penser à préciser une font "de secours" systematiquement: serif et sans-serif sont
    // les plus utilisées
    --global-font: 'system-ui', sans-serif;
}

// GLOBAL MIXINS //

@mixin dFlex-row {
    display: flex;
    flex-direction: row;
}

@mixin dFlex-column {
    display: flex;
    flex-direction: column;
}

/* // HEADER // */

// ici la mixin est inutile, elle n'est utilisée qu'une fois, de plus la mixin n'est pas assez
// modulable pour justement pouvoir être réutilisée
@mixin header {
    --list-size: 13px;
    --height-links: 44px;
    --background-links-hover: rgba(0, 0, 0, 0.05);

    @include dFlex-column;

    width: 20vw;
    height: 100vh;
    transition: 0.3s;
    position: relative;
    box-shadow: 0px 0px 0px 1px #00000014;
    position: fixed;

    // LINKS //

    // tu peux utiliser les éléments imbriqués

    & a {
        // height: var(--height-links);
        // font-size: var(--list-size);
        // line-height: var(--height-links);
        // text-decoration: none;
        // color: rgba(0, 0, 0, 0.87);
        // width: 100%;
    }

    & a:link {
        // text-decoration: none;
    }

    a {
        &:link {
            text-decoration: none;
        }
        height: var(--height-links);
        font-size: var(--list-size);
        line-height: var(--height-links);
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        width: 100%;
    }

    & li a {
        font-family: var(--global-font);
        font-size: var(--list-size);
    }

    // IMG //

    & img {
        padding-top: 30px;
        height: 57px;
        padding-bottom: 16px;
    }

    // LISTE DES VERSIONS //

    .version {
        &__container {
            a {
                &:hover {
                    background-color: var(--background-links-hover);
                }
            }
            @include dFlex-column;
            justify-content: center;
            align-items: center;
            font-family: "Inconsolata";
            position: relative;
            width: 100%;
            padding-bottom: 16px;
        }
        &__options {
            a {
                padding-left: 10px;
                width: 90%;
            }
            @include dFlex-column;
            position: absolute;
            transform: scale(0);
            transform-origin: top left;
            transition: transform 0.2s linear;
            top: 0;
            left: 109px;
            width: 100px;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
            0 1px 5px 0 rgb(0 0 0 / 20%);
            z-index: 3;
        }
        span {
            padding-left: 10px;
        }
        @include dFlex-row;
        align-items: center;
        gap: 1em;
        position: relative;
        width: 72.5px;
        height: var(--height-links);
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
    }

    & .version__container {
        // @include dFlex-column;
        // justify-content: center;
        // align-items: center;
        // font-family: "Inconsolata";
        // position: relative;
        // width: 100%;
        // padding-bottom: 16px;
    }

    & .version__container a:hover{
        // background-color: var(--background-links-hover);
    }

    & .version {
        // @include dFlex-row;
        // align-items: center;
        // gap: 1em;
        // position: relative;
        // width: 72.5px;
        // height: var(--height-links);
        // box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
    }

    & .version span {
        // padding-left: 10px;
    }

    & .version:hover + .version__options,
        .version__options:hover {
        transform: scale(1);
    }

    & .version__options {
        // @include dFlex-column;
        // position: absolute;
        // transform: scale(0);
        // transform-origin: top left;
        // transition: transform 0.2s linear;
        // top: 0;
        // left: 109px;
        // width: 100px;
        // position: absolute;
        // background-color: #fff;
        // box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        // 0 1px 5px 0 rgb(0 0 0 / 20%);
        // z-index: 3;
    }

    & .version__options a {
        // padding-left: 10px;
        // width: 90%;
    }

    & .triangle-bottom {
        width: 0;
        height: 0;
        border-style: solid;
        display: inline-block;
        border-width: 5px 5px 0 5px;
        border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
    }

    // BARRE DE RECHERCHE //

    & input {
        &::placeholder {
            color: hsla(0, 0%, 0%, 0.24);
        }
        min-height: 62px;
        position: relative;
        border: none;
        outline: none;
        background-image: url(../03_IMAGES/search_black_24dp.svg);
        background-repeat: no-repeat;
        background-position: 96% center;
        padding: 0 45px 0 30px;
        border-top: 1px solid rgba(0, 0, 0, 0.14);
        border-bottom: 1px solid rgba(0, 0, 0, 0.14)
    }

    & input::placeholder {
        // color: hsla(0, 0%, 0%, 0.24);
    }

    // MENU AVEC LES LIENS //

    & nav {
        // overflow: auto;
    }

    & nav li {
        // transition: 0.3s ease-out;
    }

    nav {
        li {
            transition: 0.3s ease-out;
        }
        overflow: auto;
    }


    & .nav-list li:hover {
        // background-color: var(--background-links-hover)
    }

    & .nav-list a {
        // padding-left: 30px;
    }

    .nav-list {
        li {
            &:hover {
                background-color: var(--background-links-hover)
            }
        }

        a {
            padding-left: 30px;
        }
    }

    // SOUS LISTE //

    & .sub-list {
        // height: 0;
        // overflow: hidden;
        // transition: 0.3s ease-out;
    }

    & .sub-list a {
        // padding-left: 45px;
    }
      
    & .sub-list li {
        // background: white;
    }

    .sub-list {
        a {
            padding-left: 45px;
        }
        li {
            background: white;
        }
        height: 0;
        overflow: hidden;
        transition: 0.3s ease-out;
    }

    @for $i from 10 through 20 {
        li:hover > .list-#{$i},
        .list-#{i}:hover {
          height: calc(var(--height-links) * $i);
        }
    }

    // mon ancien code nul avant d'avoir copié la boucle sur Nourredine //

    // & li:hover > .list-10,
    // .list-11:hover {
    //   height: calc(var(--height-links) * 10);
    // }

    // & li:hover > .list-11,
    // .list-11:hover {
    //   height: calc(var(--height-links) * 11);
    // }
}

header {
    @include header;
}



// SECTION 1 //

// ici la mixin est inutile, elle n'est utilisée qu'une fois, de plus la mixin n'est pas assez
// modulable pour justement pouvoir être réutilisée
@mixin container-1 {

    width: 80vw;
    margin-left: 20vw;
    font-family: var(--global-font);

    // le '&' n'est pas utile, pour ce genre de cas, en gros lorsque l'on selectionne 
    // .element enfant, on a pas besoin de re-préciser le '&'
    & h1 {
        text-align: center;
        padding: 30px 0px 30px 0px;
        font-size: 80px;
        font-family: "inconsolata";
        font-weight: 300;
    }

    // le selecteur h1 en solo fonctionne tout aussi bien
    h1 {
        text-align: center;
        padding: 30px 0px 30px 0px;
        font-size: 80px;
        font-family: "inconsolata";
        font-weight: 300;
    }

    // pareil pour les selecteurs suivants
    & h3 {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
    }

    & p {
        font-weight: 100;
        text-align: center;
    }

    & .cards {
        @include dFlex-row;
        width: 90%;
        margin: auto;
    }

    & .cards div {
        @include dFlex-column;
        align-items: center;
        flex: 1 220px;
        gap: 30px;
        padding: 0px 12px 0px 12px;
    }

    & .cards div img {
        min-height: 100px;
    }

}

.container-1 {
   @include container-1;
}


// LOGO MENU BURGER //
// CODE SANS MIXINS OU VAR //


.menu {
    &:before {
        content: "";
        top: -6px;
        left: 0;
        width: 24px;
        height: 3px;
        position: absolute;
        background-color: #ee6e73;
    }
    &:after {
        content: "";
        bottom: -6px;
        left: 0;
        width: 24px;
        height: 3px;
        position: absolute;
        background-color: #ee6e73;
    }
    top: 40px;
    left: 10%;
    z-index: 10;
    width: 24px;
    height: 3px;
    opacity: 0.7;
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: #ee6e73;
  }
  
.menu:hover + header,
header:hover {
    transform: translateX(0px);
}
  
.menu:before {
    // content: "";
    // top: -6px;
    // left: 0;
    // width: 24px;
    // height: 3px;
    // position: absolute;
    // background-color: #ee6e73;
}
  
.menu:after {
    // content: "";
    // bottom: -6px;
    // left: 0;
    // width: 24px;
    // height: 3px;
    // position: absolute;
    // background-color: #ee6e73;
}


// MENU BURGER //

@media (max-width: 992px) {
    header {
      top: 0;
      left: 0;
      z-index: 100;
      position: fixed;
      background: white;
      transform: translateX(-300px);
      width: 300px;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    }

    .shadow {
        top: 0;
        left: 0;
        z-index: 50;
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        background: rgba(0, 0, 0, 0.4);
    }

    header:hover + .shadow {
      display: flex;
    }
    
    .menu {
      display: flex;
    }

    .container-1 {
        .cards {
            div {
                width: 60vw;
                margin: auto;
            }
            flex-direction: column;
            gap: 30px;
        }
        width: 100vw;
        margin: auto;
    }

    .container-1 .cards {
        // flex-direction: column;
        // gap: 30px;
    }

    .container-1 .cards div {
        // width: 60vw;
        // margin: auto;
    }

}