.container {
  flex-direction: row;
}

/************************************************************************/
/***************************** HEADER / NAV *****************************/
/************************************************************************/

.menu {
  top: 40px;
  left: 10%;
  z-index: 10;
  width: 24px;
  height: 3px;
  opacity: 0.7;
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #ee6e73;
}

.menu:hover + header,
header:hover {
  transform: translateX(0);
}

.menu:before {
  content: "";
  top: -6px;
  left: 0;
  width: 24px;
  height: 3px;
  position: absolute;
  background-color: #ee6e73;
}

.menu:after {
  content: "";
  bottom: -6px;
  left: 0;
  width: 24px;
  height: 3px;
  position: absolute;
  background-color: #ee6e73;
}

header {
  width: 300px;
  height: 100vh;
  transition: 0.3s;
  position: relative;
}

header:after {
  right: 0;
  width: 1px;
  content: "";
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.14);
}

@media (max-width: 992px) {
  header {
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background: white;
    transform: translateX(-300px);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
  }
  header:hover + .shadow {
    display: flex;
  }
  .menu {
    display: flex;
  }
}

.shadow {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
}

/*************************** LOGO & VERSION ***************************/

.logo-version {
  gap: 14px;
  padding-top: 32px;
  padding-bottom: 16px;
}

/***************************** LOGO *****************************/

.logo .adaptive-img--contain {
  height: 57px;
}

/***************************** VERSION *****************************/

.version__container {
  position: relative;
  align-items: center;
}

.version {
  gap: 10px;
  padding: 0 10px;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
}

.version > span {
  height: 44px;
  font-size: 13px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Inconsolata";
  color: rgba(0, 0, 0, 0.87);
}

.version:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.version__options:hover,
.version:hover + .version__options {
  transform: scale(1);
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  border-width: 5px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}

.version__options {
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s linear;
  top: 0;
  left: 114px;
  width: 100px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.version__options a {
  padding: 0 10px;
  line-height: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 13px;
  font-family: "Inconsolata";
  color: rgba(0, 0, 0, 0.87);
}

.version__options a:hover {
  background-color: #eee;
}

.search {
  min-height: 62px;
  position: relative;
  align-items: center;
  flex-direction: row;
}

.search:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.search:after {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.search div:first-child {
  flex: 1 0;
  height: 100%;
  justify-content: center;
}


.search input {
  background-image: url(../03_IMAGES/search_black_24dp.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 45px 0 30px;
}

.search input::placeholder {
  color: hsla(0, 0%, 0%, 0.5);
}

/****************************************************************/
/***************************** NAV *****************************/
/****************************************************************/

.nav {
  overflow: auto;
}

.nav ul {
  margin: 0;
}

.nav li {
  transition: 0.3s ease-out;
}

.nav li:hover {
  background-color: rgba(50, 50, 50, 0.06);
}

.nav a {
  height: 44px;
  font-size: 13px;
  padding: 0 30px;
  line-height: 44px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.sub-list {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.sub-list a {
  padding-left: 45px;
}

.sub-list li {
  background: white;
}

.nav li:hover > .list-10,
.list-10:hover {
  /* display: flex; */
  height: calc(44px * 10);
}

.nav li:hover > .list-11,
.list-11:hover {
  /* display: flex; */
  height: calc(44px * 11);
}

/****************************************************************/
/***************************** MAIN *****************************/
/****************************************************************/

main {
  padding: 0 30px;
  flex: 1 0;
  height: 100vh;
  overflow: auto;
}

h1 {
  text-align: center;
  padding: 32px 16px;
  font-weight: 300;
  position: relative;
}

/***************************** BLOCKS *****************************/

.block-container {
  flex-wrap: wrap;
  margin-top: -32px;
  flex-direction: row;
}

.block {
  gap: 16px;
  flex: 1 220px;
  padding: 0 12px;
  margin-top: 32px;
}

.block .adaptive-img--contain {
  height: 100px;
}

.block h3,
.block p {
  text-align: center;
}

.block h3 {
  font-weight: 400;
  font-size: 2.4rem;
}

.block p {
  font-weight: 200;
}
