@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --global-font: "system-ui";
}

/* // HEADER // */
header {
  --list-size: 13px;
  --height-links: 44px;
  --background-links-hover: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  transition: 0.3s;
  position: relative;
  box-shadow: 0px 0px 0px 1px #00000014;
  position: fixed;
}
header a {
  height: var(--height-links);
  font-size: var(--list-size);
  line-height: var(--height-links);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
}
header a:link {
  text-decoration: none;
}
header li a {
  font-family: var(--global-font);
  font-size: var(--list-size);
}
header img {
  padding-top: 30px;
  height: 57px;
  padding-bottom: 16px;
}
header .version__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inconsolata";
  position: relative;
  width: 100%;
  padding-bottom: 16px;
}
header .version__container a:hover {
  background-color: var(--background-links-hover);
}
header .version {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  position: relative;
  width: 72.5px;
  height: var(--height-links);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
}
header .version span {
  padding-left: 10px;
}
header .version:hover + .version__options,
header .version__options:hover {
  transform: scale(1);
}
header .version__options {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s linear;
  top: 0;
  left: 109px;
  width: 100px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}
header .version__options a {
  padding-left: 10px;
  width: 90%;
}
header .triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  border-width: 5px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}
header input {
  min-height: 62px;
  position: relative;
  border: none;
  outline: none;
  background-image: url(../03_IMAGES/search_black_24dp.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  padding: 0 45px 0 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
header input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}
header nav {
  overflow: auto;
}
header nav li {
  transition: 0.3s ease-out;
}
header .nav-list li:hover {
  background-color: var(--background-links-hover);
}
header .nav-list a {
  padding-left: 30px;
}
header .sub-list {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
}
header .sub-list a {
  padding-left: 45px;
}
header .sub-list li {
  background: white;
}
header li:hover > .list-10,
header .list-i:hover {
  height: calc(var(--height-links) * 10);
}
header li:hover > .list-11,
header .list-i:hover {
  height: calc(var(--height-links) * 11);
}
header li:hover > .list-12,
header .list-i:hover {
  height: calc(var(--height-links) * 12);
}
header li:hover > .list-13,
header .list-i:hover {
  height: calc(var(--height-links) * 13);
}
header li:hover > .list-14,
header .list-i:hover {
  height: calc(var(--height-links) * 14);
}
header li:hover > .list-15,
header .list-i:hover {
  height: calc(var(--height-links) * 15);
}
header li:hover > .list-16,
header .list-i:hover {
  height: calc(var(--height-links) * 16);
}
header li:hover > .list-17,
header .list-i:hover {
  height: calc(var(--height-links) * 17);
}
header li:hover > .list-18,
header .list-i:hover {
  height: calc(var(--height-links) * 18);
}
header li:hover > .list-19,
header .list-i:hover {
  height: calc(var(--height-links) * 19);
}
header li:hover > .list-20,
header .list-i:hover {
  height: calc(var(--height-links) * 20);
}

.container-1 {
  width: 80vw;
  margin-left: 20vw;
  font-family: var(--global-font);
}
.container-1 h1 {
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-size: 80px;
  font-family: "inconsolata";
  font-weight: 300;
}
.container-1 h3 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.container-1 p {
  font-weight: 100;
  text-align: center;
}
.container-1 .cards {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
.container-1 .cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 220px;
  gap: 30px;
  padding: 0px 12px 0px 12px;
}
.container-1 .cards div img {
  min-height: 100px;
}

.menu {
  top: 40px;
  left: 10%;
  z-index: 10;
  width: 24px;
  height: 3px;
  opacity: 0.7;
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #ee6e73;
}

.menu:hover + header,
header:hover {
  transform: translateX(0px);
}

.menu:before {
  content: "";
  top: -6px;
  left: 0;
  width: 24px;
  height: 3px;
  position: absolute;
  background-color: #ee6e73;
}

.menu:after {
  content: "";
  bottom: -6px;
  left: 0;
  width: 24px;
  height: 3px;
  position: absolute;
  background-color: #ee6e73;
}

@media (max-width: 992px) {
  header {
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background: white;
    transform: translateX(-300px);
    width: 300px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .shadow {
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
  }

  header:hover + .shadow {
    display: flex;
  }

  .menu {
    display: flex;
  }

  .container-1 {
    width: 100vw;
    margin: auto;
  }

  .container-1 .cards {
    flex-direction: column;
    gap: 30px;
  }

  .container-1 .cards div {
    width: 60vw;
    margin: auto;
  }
}

/*# sourceMappingURL=style_samy.css.map */
